body {
	font-family: sans-serif;
	margin: 0; 
}

.info1 {
	background-color: white;
	padding-bottom: 95%;
	color: black;
}

.info2 {
	background-color: black;
	padding-bottom: 30%;
	color: white;
}

.menu {
	position: fixed;
	width: 100%;
	padding-bottom: 10px;
	background-color: #ffcf00;
	border-bottom: 10px solid #ffe05c; 

}

.margin-left {
	margin-left: 35px;
}

.border-right {
	border-right: 1px solid gray; 
}

.anchor {
	font-size: 40px;
	padding-left: 75px;
	padding-right: 75px; 
	vertical-align: middle;
	border-left: 1px solid gray;
	padding-top: 48px; 
	padding-bottom: 48px;
	display: inline-block; 
}

.play-button {
	display: inline-block;
	margin-left: 15px;
	margin-top: 15px; 
	padding: 10px;
	border-radius: 250px;
	border: 10px solid #99f39c;
	width: 15%;
	height: 5%;
	background-color: #657bcc; 
}

.play-button:hover {
	transform: scale(1.1) rotate(-0.01turn);
	transition-duration: 0.5s; 
}

.img {
	width: 40%;
	height: 40%;
	vertical-align: middle;
	margin-top: 0px; 
}

.none-underline {
	text-decoration: none;
}

.txt {
    font-size: 35px;
    vertical-align: middle;
    display: inline-block;
    color: black;
}